@import "../../index.css";

.container {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  height: 250px;
  max-width: 130px;
  border: 3px solid white;
  border-radius: 6px;
  background-color: var(--clr-neutral-500);
}
.big {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  border-radius: 6px;
  background-color: var(--clr-neutral-500);
}

.info {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons {
  display: flex;
  gap: 12px;
}

.videoContainer {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.title {
  font-size: 16px;
}

/* tablet */
@media (min-width: 600px) {
  .container {
    min-height: 200px;
    max-width: 25%;
  }
}

/* desktop */
@media (min-width: 800px) {
}
