@import "../../index.css";

.container {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  border: 3px solid white;
  border-radius: 6px;
  background-color: var(--clr-neutral-500);
}

.info {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.videoContainer {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
