.background {
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  max-height: 80%;
}

.button {
  width: 36px;
  align-self: flex-end;
}
