@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Variables*/
:root {
  --clr-primary: #51a4fb;
  --clr-secondary: #1d5ffb;
  --clr-neutral-100: #fff;
  --clr-neutral-200: #8f99a2;
  --clr-neutral-300: #6c757d;
  --clr-neutral-300-t: #6c757d40;
  --clr-neutral-500: #343c41;
  --clr-neutral-700: #0f0f0f;
  --clr-neutral-900: #000;

  --ff-all: "Ubuntu", sans-serif;

  --fs-heading: 4rem;
  --fs-subheading: 3rem;
  --fs-project-title: 1.7rem;
  --fs-body: 0.9rem;
  --fs-body-small: 1.25rem;

  --fw-bold: 700;
  --fw-normal: 400;
}

@media (max-width: 800px) {
  :root {
    --fs-heading: 3rem;
    --fs-subheading: 1.5rem;
    --fs-body: 0.9rem;
    --fs-body-small: 0.7rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: var(--fs-body);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*fonts*/

* {
  font-family: var(--ff-all);
}

h1,
h2 {
  color: var(--clr-neutral-100);
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
}

h3 {
  color: var(--clr-primary);
  font-size: var(--fs-subheading);
  font-weight: var(--fw-bold);
}

@media (min-width: 800px) {
  h3 {
    font-size: var(--fs-project-title);
  }
}

h4,
h5 {
  color: var(--clr-neutral-100);
  font-size: var(--ff-subtitle);
}
.title2 {
  color: var(--clr-neutral-100);
  font-size: var(--fs-body);
}

p {
  color: var(--clr-neutral-100);
  font-size: var(--fs-body);
}

input,
textarea {
  font-size: var(--fs-body);
  color: var(--clr-neutral-100);
}

.btn {
  font-size: var(--fs-body);
  color: var(--clr-neutral-100);
}

.btn.highlight {
  background-color: var(--clr-neutral-900);
  border: 1px solid var(--clr-primary);
}

/* basic styles & mobile */

body {
  overflow-x: hidden;
  background-color: var(--clr-primary);
}

.btn {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.3em 0.5em;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-100);
}
.btn:hover {
  cursor: pointer;
}
.btn:disabled {
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-200);
  cursor: not-allowed;
}

#header {
  /* background-image: url("/javascript.jpg"); */
  background-color: var(--clr-primary);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  position: relative;
  z-index: 1;
  margin-block: auto;
  text-align: center;
  animation: bg-fade-in 500ms ease-in 200ms both;
}

@keyframes bg-fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

#header .logo {
  max-width: 870px;
  width: 90%;
}

footer p {
  text-align: center;
  color: var(--clr-neutral-500);
}

/*tablet style*/
@media (min-width: 600px) {
  #contact {
    padding: 3em 7em;
  }
}

/*desktop style*/
@media (min-width: 800px) {
  .btn {
    max-height: 2.5em;
  }
}
